<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo And Ninjas</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="wrapper">
        <div class="left-col">
            <h1>New Dojo</h1>
            <div class="dojoform">
                <form action="/new_dojo" method="post">
                    <label for="name" class="form-control">Dojo Name: 
                        <input type="text" name="name">
                    </label>
                    <div class="btn">
                        <input type="submit" value="Add Dojo" class="btn btn-outline-dark">
                    </div>
                </form>
            </div>
        </div>

        <div class="right-col">
            <h1>All Dojos</h1>
            <div class="alldojos">
                <table>
                    {% for dojo in all_dojos %}
                    <tr>
                        <td><a class="a" href="/dojos/{{dojo['id']}}">{{dojo['name']}}</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="bottomnav">
                <a href="/ninjas">Add Ninja</a>
            </div>
        </div>
    </div>
</body>
</html>