<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <h1>Checkerboard</h1>
    <div class="wrap">
        <table class="bigbox"> 
            {% for row in range(0,num) %}
                <td>
                    {%for column in range(0,num2)%}
                        {%if (row+column) % 2 == 0 %}
                            <div class="box" style="background-color: {{color1}};"></div>
                        {%else %}
                            <div class="box" style="background-color: {{color2}};"></div>
                        {%endif%}
                    {%endfor%}
                </td>
            {%endfor%}
        </table>
    </div>
</body>
</html>
            {# {% for row in range(num) %}
            <td>
                {%for column in range(num)%}
                    {%if (row+column) % 2 == 0 %}
                        <div class="box" style="background-color: {{color1}};"></div>
                    {%else %}
                        <div class="box" style="background-color: {{color2}};"></div>
                    {%endif%}
                {%endfor%}
            {%endfor%}
            </td> #}