

/* index css */
.reg-text {
    color: gold;
}

.login-text {
    color: rgb(59, 177, 118);
}

.error-msg {
    color: red;
}

/* dashboard css */
.lol {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* new recipe */
.content {
    border: 1px solid black;
    border-radius: 2%;
    padding: 15px;
    background-color: rgb(51, 51, 53);
    margin-bottom: 10px;
}

.right-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    /* margin-left: 100px; */
}

.rec-content {
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
}