<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users CRUD</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="wrapped">
        <div class="navtitle">
            <h2>Edit User {{one_user['id']}}</h2>
            <a href="/created_users">Home</a>
        </div>
        <form action="/created_users/edit" method="post">
            <input type="hidden" name="id" value={{one_user.id}}>
            <label for="fname">First Name:</label><br>
            <input class="form-control" type="text" name="fname"  value="{{one_user['first_name']}}"><br>
            <label for="lname">Last Name:</label><br>
            <input class="form-control" type="text" name="lname"  value="{{one_user['last_name']}}"><br>
            <label for="email" >Email:</label><br>
            <input class="form-control" type="text" name="email" value="{{one_user['email']}}"><br>
            <div class="bottomthing">
                <input class="btn btn-outline-success btn-sm" type="submit" value="Update">
                <a href="/created_users/{{one_user['id']}}">Show User</a>
            </div>
        </form>
    </div>
</body>
</html>