* {
    margin: 0 auto;
    padding: 0;
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.wrap {
    display: flex;
}

.bigbox {
    border-collapse: collapse;
    display: flex;
}

.box {
    border: 1px solid black;
    height: 35px;
    width: 35px;
}